.terraform/*
*.tfstate
*.tfstate.*

./terraform-project/aws-vpc-nginx-sg/.terraform/*
/terraform-project/aws-vpc-nginx-sg/*.tfstate
/terraform-project/aws-vpc-nginx-sg/*.tfstate.*

terrraform-basic/.terraform

terraform-project/aws-vpc-nginx-sg/.terraform/*
.terraform/
terraform-project/aws-vpc-nginx-sg/.terraform/